<div class="row">
    <div class="col-6 col-md-4">
        <h3>World Museum</h3>
        <hr>
        <div class="card bg-light mb-3">
            <div class="card-header" style="background-color:#e9ecef;">Website</div>
            <div class="card-body">
                <a class="card-title">{{ museum.website }}</a>
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-header" style="background-color:#e9ecef;">Phone</div>
            <div class="card-body">
                <h5 class="card-title">{{ museum.phone }}</h5>
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-header" style="background-color:#e9ecef;">Address</div>
            <div class="card-body">
                <h5 class="card-title">{{ museum.address }}</h5>
                <h5 class="card-title">{{ museum.country }}</h5>
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-header" style="background-color:#e9ecef;">Admission Rates</div>
            <div class="card-body" *ngFor="let price of museum.admissionRate">
                <h5 class="card-title">{{ price.guest }}: {{ price.price }}</h5>
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-header" style="background-color:#e9ecef;">Hours</div>
            <div class="card-body" *ngFor="let item of museum.hours">
                <h5 class="card-title">{{ item.day }}: {{ item.hour }}</h5>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-8">
        <div class="card" style="border: none;">
            <img class="card-img-top"
                src="{{ museum.image_link }}"
                alt="Card image cap">
            <div class="card-body text-light" style="background-color: #1F3944;">
                <h4 class="card-title">{{ museum.name }}</h4>
            </div>
        </div>
    </div>
</div>